
.icon-bookmark:before { content: '\e800'; } /* '' */
.icon-plus:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-calendar:before { content: '\e803'; } /* '' */
.icon-down-dir:before { content: '\e804'; } /* '' */
.icon-dot-3:before { content: '\e805'; } /* '' */
.icon-globe:before { content: '\e806'; } /* '' */
.icon-thumbs-up:before { content: '\e807'; } /* '' */
.icon-share:before { content: '\e808'; } /* '' */
.icon-home:before { content: '\e809'; } /* '' */
.icon-group:before { content: '\e80a'; } /* '' */
.icon-briefcase:before { content: '\e80b'; } /* '' */
.icon-right-big:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80d'; } /* '' */
.icon-chart-bar:before { content: '\e80e'; } /* '' */
.icon-search:before { content: '\e80f'; } /* '' */
.icon-th:before { content: '\e810'; } /* '' */
.icon-cancel-circled:before { content: '\e811'; } /* '' */
.icon-eye-off:before { content: '\e812'; } /* '' */
.icon-eye:before { content: '\e813'; } /* '' */
.icon-flag:before { content: '\e814'; } /* '' */
.icon-link:before { content: '\e815'; } /* '' */
.icon-star-empty:before { content: '\e816'; } /* '' */
.icon-pencil:before { content: '\e817'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-angle-down:before { content: '\f107'; } /* '' */
.icon-smile:before { content: '\f118'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-bullseye:before { content: '\f140'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-commenting:before { content: '\f27a'; } /* '' */
.icon-linkedin-squared:before { content: '\f30c'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */
